html {
    scroll-behavior: smooth;
}

/* Auto scroll for users with disabled smooth scroll in browser:
   https://gomakethings.com/smooth-scrolling-links-with-only-css/ */
@media screen and (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    padding: 0px;
    margin: 0px;
    color: #444;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

em {
    font-weight: bold;
    background-color: #E1E1E1;
}

.content {
    margin: 0px auto;
    padding: 0px 10px;
    max-width: 700px;
}

.content h2 {
    font-size: 26px;
    color: #444;
    border-bottom: 1px solid #CCC;
    margin-bottom: 15px;

    /* Offset for anchor scrolls, I have removed margin top from all sections */
    margin-top: -20px;
    padding-top: 60px;
}

.content h3 {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #444;
    margin: 30px 0px 10px 0px;
}

.content p {
    margin: 15px 0px;
    line-height: 1.2em;
}

.content p a {
    text-decoration: underline;
    color: #444;
}

.item {
}

.fluid {
}

.intro {
}

.intro img {
    float: right;
}

.intro p {
    margin-bottom: 10px;
}

.skills {
}

.skills li p {
    margin: 5px 0px;
}

.skills li em {
    display: inline-block;
    min-width: 110px;
    font-style: normal;
    background-color: transparent;
}

.projects {
}

.hobby {
}

.volunteering {
}

.documents {
    width: 100%;
    text-align: center;
}

.documents .item {
    width: 100px;
    height: 100px;
    margin: 30px 10px;
    display: inline-block;
    color: #000;
    font-weight: bold;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease;
}

.documents .item:hover {
    background-color: transparent;
}

.item.doc {
    border: 1px solid #119EF6;
    background-color: #119EF6;
}

.item.doc:hover .bar {
    background-color: #119EF6;
}

.item.odt {
    border: 1px solid #99CC00;
    background-color: #99CC00;
}

.item.odt:hover .bar {
    background-color: #99CC00;
}

.item.pdf {
    border: 1px solid #ffa500;
    background-color: #ffa500;
}

.item.pdf:hover .bar {
    background-color: #ffa500;
}

.item.pdf {
    border: 1px solid #ffa500;
    background-color: #ffa500;
}

.item.pdf:hover .bar {
    background-color: #ffa500;
}

.documents .bar {
    margin-top: 40px;
    padding: 2px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.25s ease;
}

.bar a {
    display: inline-block;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.documents .action {
    width: calc(100% - 30px);
    height: 100px;
    border: 1px solid #ffd700;
    background-color: #ffd700;
}

.action {
    border: 1px solid #ffd700;
    background-color: #ffd700;
}

.action:hover {
    background-color: transparent;
}

.action:hover .bar {
    background-color: #ffd700;
}

.timestamp {
    margin-left: 5px;
    font-size: 14px;
    font-weight: normal;
}

.tech {
    margin-top: 3px;
    font-size: 14px;
    font-weight: normal;
    float: right;
}
