img {
    border: 5px solid white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    margin: 3px;
}

.gallery {
    width: 90%;
    text-align: center;
    margin: 30px auto;
}

.gallery a {
    display: inline-block;
}

.photo {
    width: 125px;
    height: 125px;
    float: right;
    margin: 15px 0px 15px 25px;
}

.screenshot {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    -webkit-transition: box-shadow .2s ease;
    -moz-transition: box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
}

.screenshot:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5), 0px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Device: Landscape phone, portrait tablet or bigger */
@media (min-width: 501px) {
    .logo {
        width: 75%;
        margin: 0px 3px 3px 10px;
        max-width: 250px;
        float: right;
    }
}

/* Device: Landscape phones and down */
@media (max-width: 500px) {
    .logo {
        width: calc(100% - 10px);
        margin: 0px 0px 20px 0px;
        float: none;
    }
}

