body {
    padding: 0px;
    margin: 0px;
    color: #666;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}

em {
    font-weight: bold;
}
