.motto {
    margin: 100px auto 5px auto;
    padding: 0px 15px;
    max-width: 700px;
    text-align: right;
    font-weight: normal;
}

.motto h1 {
    font-size: 40px;
    font-weight: normal;
    color: #555;
    line-height: 50px;
    margin-bottom: 10px;
}

.motto h2 {
    font-size: 20px;
    font-weight: normal;
    color: #777;
    text-align: right;
    margin-top: 10px;
}
