.navigation {
    margin: 0px;
    display: inline;
    float: right;
    box-shadow: none;
}

.navigation ul {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
}

.navigation li {
    min-width: 50px;
    height: 50px;
    margin: 0px;
    display: inline-block;
    padding: 0px 5px;
}

.navigation li:hover {
    background-color: #DDD;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    transition: box-shadow linear .1s;
}

.navigation a {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-family: 'Oswald Regular';
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    color: #333;
}

/* Device: Large desktop */
@media (min-width: 1200px) {
    .navigation {
        display: block;
    }
}

/* Device: Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    .navigation {
        display: block;
    }
}

/* Device: Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .navigation {
        display: block;
    }
}

/* Device: Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .navigation {
        display: block;
    }
    .navigation .hide_mobile {
        display: none;
    }
}

/* Device: Landscape phones and down */
@media (max-width: 500px) {
    .navigation {
        display: none;
    }
}
