@font-face {
    font-family: 'Oswald Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('OswaldRegular'), url(../fonts/Oswald-Regular.ttf) format('truetype');
}

h1 {
    font-family: 'Oswald Regular';
}

h2 {
    font-family: 'Oswald Regular';
}

h3 {
    font-family: 'Oswald Regular';
}

h4 {
    font-family: 'Oswald Regular';
}
